<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.minsu.spider.mapper.XiaoZhuHouseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.minsu.spider.domain.XiaoZhuHouseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_sn" property="houseSn" jdbcType="VARCHAR" />
    <result column="landlord_sn" property="landlordSn" jdbcType="VARCHAR" />
    <result column="evaluate_num" property="evaluateNum" jdbcType="INTEGER" />
    <result column="rent_type" property="rentType" jdbcType="INTEGER" />
    <result column="house_type" property="houseType" jdbcType="INTEGER" />
    <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
    <result column="no_detail_address" property="noDetailAddress" jdbcType="VARCHAR" />
    <result column="house_type_detail" property="houseTypeDetail" jdbcType="VARCHAR" />
    <result column="house_area" property="houseArea" jdbcType="INTEGER" />
    <result column="house_area_unit" property="houseAreaUnit" jdbcType="VARCHAR" />
    <result column="live_num" property="liveNum" jdbcType="INTEGER" />
    <result column="bed_infos" property="bedInfos" jdbcType="VARCHAR" />
    <result column="inside_case" property="insideCase" jdbcType="VARCHAR" />
    <result column="transportation_case" property="transportationCase" jdbcType="VARCHAR" />
    <result column="around_case" property="aroundCase" jdbcType="VARCHAR" />
    <result column="facility_case" property="facilityCase" jdbcType="VARCHAR" />
    <result column="room_notes" property="roomNotes" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house_sn, landlord_sn, evaluate_num, rent_type, house_type, detail_url, no_detail_address, 
    house_type_detail, house_area, house_area_unit, live_num, bed_infos, inside_case, 
    transportation_case, around_case, facility_case, room_notes, city_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xiaozhu_house_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xiaozhu_house_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xiaozhu_house_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.minsu.spider.domain.XiaoZhuHouseInfo" >
    insert into xiaozhu_house_info (id, house_sn, landlord_sn, 
      evaluate_num, rent_type, house_type, 
      detail_url, no_detail_address, house_type_detail, 
      house_area, house_area_unit, live_num, 
      bed_infos, inside_case, transportation_case, 
      around_case, facility_case, room_notes, 
      city_code)
    values (#{id,jdbcType=INTEGER}, #{houseSn,jdbcType=VARCHAR}, #{landlordSn,jdbcType=VARCHAR}, 
      #{evaluateNum,jdbcType=INTEGER}, #{rentType,jdbcType=INTEGER}, #{houseType,jdbcType=INTEGER}, 
      #{detailUrl,jdbcType=VARCHAR}, #{noDetailAddress,jdbcType=VARCHAR}, #{houseTypeDetail,jdbcType=VARCHAR}, 
      #{houseArea,jdbcType=INTEGER}, #{houseAreaUnit,jdbcType=VARCHAR}, #{liveNum,jdbcType=INTEGER}, 
      #{bedInfos,jdbcType=VARCHAR}, #{insideCase,jdbcType=VARCHAR}, #{transportationCase,jdbcType=VARCHAR}, 
      #{aroundCase,jdbcType=VARCHAR}, #{facilityCase,jdbcType=VARCHAR}, #{roomNotes,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.minsu.spider.domain.XiaoZhuHouseInfo" >
    insert into xiaozhu_house_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="houseSn != null" >
        house_sn,
      </if>
      <if test="landlordSn != null" >
        landlord_sn,
      </if>
      <if test="evaluateNum != null" >
        evaluate_num,
      </if>
      <if test="rentType != null" >
        rent_type,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="detailUrl != null" >
        detail_url,
      </if>
      <if test="noDetailAddress != null" >
        no_detail_address,
      </if>
      <if test="houseTypeDetail != null" >
        house_type_detail,
      </if>
      <if test="houseArea != null" >
        house_area,
      </if>
      <if test="houseAreaUnit != null" >
        house_area_unit,
      </if>
      <if test="liveNum != null" >
        live_num,
      </if>
      <if test="bedInfos != null" >
        bed_infos,
      </if>
      <if test="insideCase != null" >
        inside_case,
      </if>
      <if test="transportationCase != null" >
        transportation_case,
      </if>
      <if test="aroundCase != null" >
        around_case,
      </if>
      <if test="facilityCase != null" >
        facility_case,
      </if>
      <if test="roomNotes != null" >
        room_notes,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseSn != null" >
        #{houseSn,jdbcType=VARCHAR},
      </if>
      <if test="landlordSn != null" >
        #{landlordSn,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNum != null" >
        #{evaluateNum,jdbcType=INTEGER},
      </if>
      <if test="rentType != null" >
        #{rentType,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="detailUrl != null" >
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="noDetailAddress != null" >
        #{noDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseTypeDetail != null" >
        #{houseTypeDetail,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null" >
        #{houseArea,jdbcType=INTEGER},
      </if>
      <if test="houseAreaUnit != null" >
        #{houseAreaUnit,jdbcType=VARCHAR},
      </if>
      <if test="liveNum != null" >
        #{liveNum,jdbcType=INTEGER},
      </if>
      <if test="bedInfos != null" >
        #{bedInfos,jdbcType=VARCHAR},
      </if>
      <if test="insideCase != null" >
        #{insideCase,jdbcType=VARCHAR},
      </if>
      <if test="transportationCase != null" >
        #{transportationCase,jdbcType=VARCHAR},
      </if>
      <if test="aroundCase != null" >
        #{aroundCase,jdbcType=VARCHAR},
      </if>
      <if test="facilityCase != null" >
        #{facilityCase,jdbcType=VARCHAR},
      </if>
      <if test="roomNotes != null" >
        #{roomNotes,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.minsu.spider.domain.XiaoZhuHouseInfo" >
    update xiaozhu_house_info
    <set >
      <if test="houseSn != null" >
        house_sn = #{houseSn,jdbcType=VARCHAR},
      </if>
      <if test="landlordSn != null" >
        landlord_sn = #{landlordSn,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNum != null" >
        evaluate_num = #{evaluateNum,jdbcType=INTEGER},
      </if>
      <if test="rentType != null" >
        rent_type = #{rentType,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=INTEGER},
      </if>
      <if test="detailUrl != null" >
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="noDetailAddress != null" >
        no_detail_address = #{noDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseTypeDetail != null" >
        house_type_detail = #{houseTypeDetail,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null" >
        house_area = #{houseArea,jdbcType=INTEGER},
      </if>
      <if test="houseAreaUnit != null" >
        house_area_unit = #{houseAreaUnit,jdbcType=VARCHAR},
      </if>
      <if test="liveNum != null" >
        live_num = #{liveNum,jdbcType=INTEGER},
      </if>
      <if test="bedInfos != null" >
        bed_infos = #{bedInfos,jdbcType=VARCHAR},
      </if>
      <if test="insideCase != null" >
        inside_case = #{insideCase,jdbcType=VARCHAR},
      </if>
      <if test="transportationCase != null" >
        transportation_case = #{transportationCase,jdbcType=VARCHAR},
      </if>
      <if test="aroundCase != null" >
        around_case = #{aroundCase,jdbcType=VARCHAR},
      </if>
      <if test="facilityCase != null" >
        facility_case = #{facilityCase,jdbcType=VARCHAR},
      </if>
      <if test="roomNotes != null" >
        room_notes = #{roomNotes,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.minsu.spider.domain.XiaoZhuHouseInfo" >
    update xiaozhu_house_info
    set house_sn = #{houseSn,jdbcType=VARCHAR},
      landlord_sn = #{landlordSn,jdbcType=VARCHAR},
      evaluate_num = #{evaluateNum,jdbcType=INTEGER},
      rent_type = #{rentType,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=INTEGER},
      detail_url = #{detailUrl,jdbcType=VARCHAR},
      no_detail_address = #{noDetailAddress,jdbcType=VARCHAR},
      house_type_detail = #{houseTypeDetail,jdbcType=VARCHAR},
      house_area = #{houseArea,jdbcType=INTEGER},
      house_area_unit = #{houseAreaUnit,jdbcType=VARCHAR},
      live_num = #{liveNum,jdbcType=INTEGER},
      bed_infos = #{bedInfos,jdbcType=VARCHAR},
      inside_case = #{insideCase,jdbcType=VARCHAR},
      transportation_case = #{transportationCase,jdbcType=VARCHAR},
      around_case = #{aroundCase,jdbcType=VARCHAR},
      facility_case = #{facilityCase,jdbcType=VARCHAR},
      room_notes = #{roomNotes,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>